# Ignore node_modules, as they will be installed inside the container
node_modules
npm-debug.log
yarn-error.log
.env

# CI/CD and Version Control files
.git
.gitignore
Jenkinsfile
README.md

# Build artifacts
*.log